body{
 background: #082b4a;
 background: linear-gradient(45deg, #082b4a, #1a62a1);
 background-attachment: fixed;
}

.h1-title{
 text-align: center;
 font-size: 80px;
 color: #ffffff;
}

.div-blocos{
 text-align: center;
}

.button-bloco{
}
