body{
 background: #082b4a;
 background: linear-gradient(45deg, #082b4a, #1a62a1);
 background-attachment: fixed;
}

.blocos-title{
 text-align: center;
 font-size: 80px;
 color: #FFFFFF;
}

.div-blocos{
 text-align: center;
}

.sala{
 text-align:center;
 color:#FFFFFF;
}

button-blocos{
 background: #04192b;
	border-radius: 10px;
	font-size: 25px;
	color: #ffffff;
	padding: 5px 10px;
}
